/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #02030a;
}